

* {
  box-sizing: border-box;
}
body{
  background-color: #f6f7fb;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
  text-align: center;

}
.progress-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
.progress-container::before{
  content: '';
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1;
}

.progress{
  background-color: #3498db;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.4s ease;

}
.circle{
  background-color: #fff;
  color:#999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}
.circle.active{
  border-color: #3498db;
}
.btn{
  background-color: #3498db;
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}
.btn:active{
  transform: scale(0.98);
}
.btn:focus{
  outline: 0;
}
.btn:disabled{
  background-color:#e0e0e0 ;
  cursor: not-allowed;
}
.wrapper{
  width: 1170px;
  margin: 20px auto;
}
nav
{
  position: absolute;
  background: #262626;
  font-size: 16px;

}
nav > ul{
position: relative;
display: flex;
justify-content: center;
width: 1170px;
margin: 0 auto;
padding: 0;
}
nav ul li{
  color: #fff;
  list-style: none;
  transition: 0.5s;
}
ul img{
  width: 85%;
}
  nav > ul > li > a {
    position: relative;
    float:right;
    content:'';
    margin-left:10px;
    margin-top:8px;
  
}
nav > ul > li:hover{
  background: #668fc5;
}
nav ul.menu-area{
  padding: 40px 40px 0 40px;
  background: #fff;
  text-align: left;
  border-top: 5px solid #164c82;
  box-shadow: 0 5px 10px rgba(0,0,0,0.6);
  z-index: 1;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  top: -9999px;
  left: 0;
}
nav ul li:hover ul.menu-area{
  top:100%;
}
nav ul.menu-area ul{
  width: 5%;
  margin-bottom: 40px;
  color:#262626 ;
}
nav ul.menu-area h4{
  margin-bottom: 15px;
  text-transform: uppercase;

}
nav ul.menu-area ul li{
  display: block;
}
nav ul.menu-area ul li a{
margin-top: 10px;
color: #000;
text-transform: none;
}
nav ul.menu-area ul li a:hover{
  color: #164c82;
}