ul{
  margin: 0;
  padding: 0;
  display: flex;
}
body{
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
  padding: 2vw;
  font-family: monospace;
}
li{
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
}
nav{
  width: 100vw;
  background-color:cornflowerblue;
}
footer{
  position: fixed;
  left: 0; 
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}